<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "图书列表", admin_books_path  %></li>
      <li><%= link_to "新增图书", new_admin_book_path %></li>
      <li class="active"><%= link_to "修改图书", edit_admin_book_path %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"> 修改图书 </h2>
    <div class="inner">
        <%= render :partial => "form" %>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>

