<div id="special_offers">
  <p> <span>25%</span> discounts for purchase over $80 </p>
  <a href="#" style="margin-left: 50px;">Read more...</a>
</div>
<div id="new_books">
  <ul>
    <li>Suspen disse</li>
    <li>Maece nas metus</li>
    <li>In sed risus ac feli</li>
  </ul>
<a href="#" style="margin-left: 50px;">Read more...</a>
</div>

