<div class="content_left_section">
  <h1>Categories</h1>
  <ul>
    <li><a href="#">Donec accumsan urna</a></li>
    <li><a href="#">Proin vulputate justo</a></li>
    <li><a href="#">In sed risus ac feli</a></li>
    <li><a href="#">Aliquam tristique dolor</a></li>
    <li><a href="#">Maece nas metus</a></li>
    <li><a href="#">Sed pellentesque placerat</a></li>
    <li><a href="#">Suspen disse</a></li>
    <li><a href="#">Maece nas metus</a></li>
    <li><a href="#">In sed risus ac feli</a></li>
  </ul>
</div>
<div class="content_left_section">
  <h1>Bestsellers</h1>
  <ul>
    <li><a href="#">Vestibulum ullamcorper</a></li>
    <li><a href="#">Maece nas metus</a></li>
    <li><a href="#">In sed risus ac feli</a></li>
    <li><a href="#">Praesent mattis varius</a></li>
    <li><a href="#">Maece nas metus</a></li>
    <li><a href="#">In sed risus ac feli</a></li>
    <li><a href="#">Flash Templates</a></li>
    <li><a href="#">CSS Templates</a></li>
    <li><a href="#">Web Design</a></li>
    <li><a href="#">Free Photos</a></li>
  </ul>
</div>

