<div id="content_right">
  <div class="product_box">
    <h1>Photography <span>(by Best Author)</span></h1>
    <%= image_tag 'image_01.jpg' %>
    <div class="product_info">
      <p>Etiam luctus. Quisque facilisis suscipit elit. Curabitur...</p>
      <h3>$55</h3>
      <div class="buy_now_button"><a href="#">Buy Now</a></div>
      <div class="detail_button"><a href="#">Detail</a></div>
    </div>
    <div class="cleaner">&nbsp;</div>
  </div>
  <div class="cleaner_with_width">&nbsp;</div>
  <div class="product_box">
    <h1>Cooking <span>(by New Author)</span></h1>
      <%= image_tag 'image_02.jpg' %>
    <div class="product_info">
      <p>Aliquam a dui, ac magna quis est eleifend dictum.</p>
      <h3>$35</h3>
      <div class="buy_now_button"><a href="#">Buy Now</a></div>
      <div class="detail_button"><a href="#">Detail</a></div>
    </div>
    <div class="cleaner">&nbsp;</div>
  </div>
  <div class="cleaner_with_height">&nbsp;</div>
  <div class="product_box">
    <h1>Gardening <span>(by Famous Author)</span></h1>
    <%= image_tag 'image_03.jpg' %>
    <div class="product_info">
      <p>Ut fringilla enim sed turpis. Sed justo dolor, convallis at.</p>
      <h3>$65</h3>
      <div class="buy_now_button"><a href="#">Buy Now</a></div>
      <div class="detail_button"><a href="#">Detail</a></div>
    </div>
    <div class="cleaner">&nbsp;</div>
  </div>
  <div class="cleaner_with_width">&nbsp;</div>
  <div class="product_box">
    <h1>Sushi Book <span>(by Japanese Name)</span></h1>
    <%= image_tag 'image_04.jpg' %>
    <div class="product_info">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
      <h3>$45</h3>
      <div class="buy_now_button"><a href="#">Buy Now</a></div>
      <div class="detail_button"><a href="#">Detail</a></div>
    </div>
    <div class="cleaner">&nbsp;</div>
  </div>
  <div class="cleaner_with_height">&nbsp;</div>
 </div>
<!-- end of content right -->

